:root {
    --azul-fraco: #9AD4E6;
    --azul-forte: #09336B;
    --titilum-font: 'Titillium Web', sans-serif;
    --bubble-font:  'Bubblegum Sans', cursive;
    --cor-amarela: #FED162;
    --cor-branca: #ffffff;
    
}