:root {
    --azul-fraco: #9AD4E6;
    --azul-forte: #09336B;
    --titilum-font: 'Titillium Web', sans-serif;
    --bubble-font:  'Bubblegum Sans', cursive;
    --cor-amarela: #FED162;
    --cor-branca: #ffffff;
    --gradiente-azul:  linear-gradient(90deg, rgba(20,80,159,1) 0%, rgba(20,80,159,1) 35%, rgba(9,51,107,1) 100%);
    
}